{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Port=3306;Database=gymtracker;User=gymtracker;Password=OVDJE_VASA_LOZINKA;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
